In [2]:
## Operation with missing value 
import pandas as pd 
import numpy as np

In [6]:
#importing the dataset 
df = pd.read_csv("C:/Users/91801/Downloads/records.csv") 
df.head() 
print(df)

   ID    Name    Role  Salary
0   1  Pankaj  Editor   10000
1   2    Lisa  Editor    8000
2   3   David  Author    6000
3   4     Ram  Author    4000
4   5  Anupam  Author    5000

In [13]:
#Missing values are usually represented in the form of Nan or null or None in the dataset. 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               5 non-null      int64
 1   Name             5 non-null      object
 2   Role             5 non-null      object
 3   Salary           5 non-null      int64
 4   Salaryismissing  5 non-null      bool
dtypes: bool(1), int64(2), object(2)
memory usage: 293.0+ bytes

In [14]:
#1. Deleting the column with missing data 
updated_df = df.dropna(axis=1) 
print(updated_df) 
updated_df.info()

   ID    Name    Role  Salary  Salaryismissing
0   1  Pankaj  Editor   10000            False
1   2    Lisa  Editor    8000            False
2   3   David  Author    6000            False
3   4     Ram  Author    4000            False
4   5  Anupam  Author    5000            False
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               5 non-null      int64
 1   Name             5 non-null      object
 2   Role             5 non-null      object
 3   Salary           5 non-null      int64
 4   Salaryismissing  5 non-null      bool
dtypes: bool(1), int64(2), object(2)
memory usage: 293.0+ bytes

In [15]:
#2. Deleting the row with missing data 
updated_df = df.dropna(axis=0) 
print(updated_df) 
updated_df.info()

   ID    Name    Role  Salary  Salaryismissing
0   1  Pankaj  Editor   10000            False
1   2    Lisa  Editor    8000            False
2   3   David  Author    6000            False
3   4     Ram  Author    4000            False
4   5  Anupam  Author    5000            False
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               5 non-null      int64
 1   Name             5 non-null      object
 2   Role             5 non-null      object
 3   Salary           5 non-null      int64
 4   Salaryismissing  5 non-null      bool
dtypes: bool(1), int64(2), object(2)
memory usage: 293.0+ bytes

In [16]:
#3. Filling the Missing Values â€“ Imputation 
updated_df = df 
updated_df['Salary']=updated_df['Salary'].fillna(updated_df['Salary'].mean()) 
print(updated_df)

   ID    Name    Role  Salary  Salaryismissing
0   1  Pankaj  Editor   10000            False
1   2    Lisa  Editor    8000            False
2   3   David  Author    6000            False
3   4     Ram  Author    4000            False
4   5  Anupam  Author    5000            False

In [17]:
#4. Imputation with an additional column 
updated_df = df 
updated_df['Salaryismissing'] = updated_df['Salary'].isnull() 
print(updated_df)

   ID    Name    Role  Salary  Salaryismissing
0   1  Pankaj  Editor   10000            False
1   2    Lisa  Editor    8000            False
2   3   David  Author    6000            False
3   4     Ram  Author    4000            False
4   5  Anupam  Author    5000            False

In [12]:
#5. Filling with a Regression Model 
testdf = df[df['Salary'].isnull()==True] 
traindf = df[df['Salary'].isnull()==False] 
traindf.drop("Salary",axis=1,inplace=True) 
testdf.drop("Salary",axis=1,inplace=True) 
print(traindf)

   ID    Name    Role  Salaryismissing
0   1  Pankaj  Editor            False
1   2    Lisa  Editor            False
2   3   David  Author            False
3   4     Ram  Author            False
4   5  Anupam  Author            False

C:\Users\91801\AppData\Local\Temp\ipykernel_9800\503438105.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  testdf.drop("Salary",axis=1,inplace=True)